@tailwind base;
@tailwind components;
@tailwind utilities;

.ͼ2 .cm-activeLine {
	background-color: black;
	caret-color: white;
}

.ͼ2 .cm-gutters {
	background-color: black;
	color: cyan;
}

.ͼ2 .cm-activeLineGutter {
	background-color: black;
}
