@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip-left::before {
	color: white;
	text-transform: capitalize;
}
.tooltip {
	color: white;
	text-transform: capitalize;
}

#jsx span:where([class~="cm-editor"]) {
	font-size: 0.875rem; /* 14px */
	line-height: 1.625; /* 20px */ /* 24px */
	text-align: left;
}

#jsx iframe {
	aspect-ratio: 16/9;
}

.cm-content {
	font-size: 14px;
}

.katex-html {
	background-color: black;
	padding-left: 0.5rem; /* 8px */
	padding-right: 0.5rem; /* 8px */
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
	user-select: all;
	color: rgb(250, 204, 21);
	font-weight: 600;
	border-radius: 0.375rem;
}
@media screen and (min-width: 768px) {
	#jsx span:where([class~="cm-editor"]) {
		font-size: 1.125rem; /* 18px */
		line-height: 1.625;
		text-align: left;
	}

	.cm-content {
		font-size: 16px;
	}

	.katex-html {
		font-size: 15.75px;
	}
}

.btn:not(.btn-ghost, .tool),
.select,
.tab-active,
.tab-lifted.tab-active {
	background-color: rgb(51 65 85);
}

.tool {
	background-color: black;
	color: white;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		visibility: visible;
	}
	25% {
		opacity: 25;
		visibility: visible;
	}
	75% {
		opacity: 50;
		visibility: visible;
	}
	100% {
		opacity: 100;
		visibility: visible;
	}
}

.trial-1 {
	animation-name: fade-in;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
	visibility: hidden;
	animation-fill-mode: forwards;
}
.trial-2 {
	animation-name: fade-in;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 1s;
	visibility: hidden;
	animation-fill-mode: forwards;
}
.trial-3 {
	animation-name: fade-in;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 1.5s;
	visibility: hidden;
	animation-fill-mode: forwards;
}
.trial-4 {
	animation-name: fade-in;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 2s;
	visibility: hidden;
	animation-fill-mode: forwards;
}
.trial-5 {
	animation-name: fade-in;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 2.5s;
	visibility: hidden;
	animation-fill-mode: forwards;
}

.desktop {
	width: 1200px;
	height: 675px;
}

.tablet {
	width: 675px;
	height: 900px;
}
.tablet-rotated {
	width: 900px;
	height: 675px;
}
.phone {
	width: 390px;
	height: 844px;
}
